{% extends "base" %}

{% block content %}
<h1>HOME</h1>
<ul>
    <li> <a href="arbeit/submit">Submit a question</a> </li>
    <li><a href="arbeit/test_score"> Test</a> </li>
</ul>
{% endblock content %}

