<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Submit a question for {{uid}} </title>
  </head>
  <body>
    <h1>New question for {{uid}}</h1>
    <h2>Cookie Content</h2>
      <button type="button" action="">Submit</button>
    <h2>Purge Cookie</h2>
      <form action="/arbeit/purge" method="post">
          <p><input type="submit" value="Purge" /></p>
      </form>
    <h2>New question for {{uid}}</h2>
    <form action="/arbeit/submit" method="post" accept-charset="utf-8">
      <textarea placeholder="Put your question here"
        name="question" rows="5" cols="50"></textarea>
      <textarea placeholder="Put your answer here"
        name="answer" rows="5" cols="50"></textarea>
      <p><input type="submit" value="Submit Question"></p>
    </form>

    <a href="/">Home</a>
  </body>
</html>
