{% extends "base" %}

{% block content %}
<h1>Faux!</h1>
<form action="/arbeit/test" method="get" accept-charset="utf-8">
  {{question}} => {{answer}}    
  <textarea placeholder="Pour copier..."
    name="answer" rows="1" cols="50"></textarea>
  <input type="submit" value="Next Question">
</form>

<a href="/">Home</a>
{% endblock content %}
