{% extends "base" %}

{% block content %}
<h1>Answer</h1>
<form action="/arbeit/test" method="post" accept-charset="utf-8">
  {{question}}     
  <textarea placeholder="Put your answer here"
    name="answer" rows="1" cols="50"></textarea>
  <input type="submit" value="Submit Answer">
</form>

<a href="/">Home</a>
{% endblock content %}
